body{
	margin: 0%;
	background-color: darkgrey;
	font-family:'Bree Serif', serif;
}
h1{
	color: darkblue;
	text-align: center;
	font-weight: 900;
}
h2{
	color: blue;
	text-align: center;
	font-weight: 700;

}
p{
	margin-left: 10px;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
	background-color: aliceblue;
}
button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
	top,
	#ffffff 0%,
	#ebebeb 50%,
	#dbdbdb 50%,
	#b5b5b5);
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#ffffff),
	color-stop(0.50, #ebebeb),
	color-stop(0.50, #dbdbdb),
	to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,1);
}
.Menu a{
	font-size: 20px;
	text-decoration: none;
	margin-left: 15px;
	color: #050505;
}
.Menu{
	background-color: aliceblue;
	text-align: center;
}

#logo{
	width: 50px;
	height:50px;
}
#Icone{
	
	position: absolute;
	top: 10px;
	left: 10px;
	width: 15%;
}
iframe{
	float: center;

}
#Legendaa{
	font-size: 15px;
}
.Rodape{
	background-color: aliceblue;
}
#Logo2{
	width: 50px;
	height:50px;
}
#iconface{
	position: absolute;
	left: 900px;
	width: 5%;
}
#icontwitter{
	position: absolute;
	left: 1100px;
	width: 5%;
}
#icongoogle{
	position: absolute;
	left: 1000px;
	width: 5%;
}
#Redesociais{
	left:750px;
	width: 15%;
	position:absolute;
}